assets/pdf/rudik_cv.fdb_latexmk
assets/pdf/rudik_cv.log
assets/pdf/rudik_cv.synctex.gz
assets/pdf/rudik_cv.fdb_latexmk
assets/pdf/rudik_cv.log
assets/pdf/rudik_cv.fdb_latexmk
assets/pdf/rudik_cv.fls
assets/pdf/rudik_cv.log
.DS_Store
assets/.DS_Store
assets/pdf/rudik_cv.fdb_latexmk
assets/pdf/rudik_cv.log
.DS_Store
